.result {
  color: #d1c0c5;
  width: 150px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 30px;
    color: #d1c0c5;
    margin-bottom: 10px;
  }

  .indicators {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #d1c0c5;
  }

  a {
    margin-top: 10px;
    font-size: 20px;
    color: #d1c0c5;
    cursor: pointer;
    border: solid 1px #d1c0c5;
    padding: 4px 8px;

    &:hover {
      background-color: #d1c0c5;
      color: #333;
      transition: ease-in-out 0.15s;
    }
  }

}