.word {
  position: relative;
    font-size: 1em;
    line-height: 1em;
    margin: .25em .3em;
    font-variant: no-common-ligatures;
    border-bottom: 2px solid transparent;

    div {
      display: inline-block;
    }
    
    .letter {
      color: #646669;
    }

    .correct {
      color: #c6c6c6;
    }
    
    .error {
      color: #e44545
    }
}

